.header__lang-link {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-decoration-line: underline;
  mix-blend-mode: normal;
  cursor: url(../../../images/Pointer.png), pointer;
  transition: opacity linear .4s;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (min-width: 1920px) {
  .header__lang-link {
    font-size: 36px;
    line-height: 42px;
  }
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
