@font-face {
  font-family: "Inter";
  src: url(../../vendor/Inter-Regular.woff);
  font-weight: normal;
}

.page {
  font-family: "inter";
  min-width: 1280px;
  background: #2a2c2f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
}
