.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(17.5em, 1fr));
  gap: 1em;
  list-style-type: none;
  margin-block: 0;
  padding-inline-start: 0;
  padding: 5.75em 3em 0;
  box-sizing: border-box;
  max-width: 100%;
}

@media screen and (max-width:1279px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(17.5em, 1fr));
  }
}


@media screen and (min-width:1024px) and (max-width:1279px) {
  .photo-grid__list {
    /*grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));*/
    gap: .875em;
    padding: 5.75em 3em 0;

  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .photo-grid__list {
    /*grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));*/
    padding: 5.5em 1.5em 0;
  }
}

@media screen and (max-width:767px) {
  .photo-grid__list {
    /*grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));*/
    padding: 4em 1em 0;
    gap: .75em;
  }
}
