.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.22;
  /* or 122% */
  text-align: center;
  color: #fff;
  max-width: 360px;
  margin-block: 0;
}

@media screen and (max-width:767px) {
  .cover__subtitle {
    font-size: .875em;
    line-height: 1.14;
    max-width: 18em;
    white-space: pre-line;
  }
}
