.footer__link-item {
  display: inline-block;
  margin: 0 1.125em 0 0;
}

@media screen and (max-width: 767px) {

  .footer__link-item {
    display: block;
    margin-top: 2em;
  }

  .footer__link-item:first-of-type {
    margin: 0;
  }
}
