.footer__link-item {
  display: inline-block;
  margin: 0 18px 0 0;
}

@media screen and (min-width: 1920px) {
  .footer__link-item {
    margin: 0 27px 0 0;
  }
}

@media screen and (max-width: 767px) {

  .footer__link-item {
    display: block;
    margin-top: 32px;
  }

  .footer__link-item:first-of-type {
    margin: 0;
  }
}
