.footer__link {
  list-style: none;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  color: #fff;
  translate: opacity linear 0.2s;
  cursor: url(../../../images/Pointer.png), pointer;
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (min-width: 1920px) {
  .footer__link-item {
    font-size: 24px;
    line-height: 27px;
  }
}

@media screen and (max-width: 767px) {
  .footer__link {
    display: block;
    font-size: 24px;
  line-height: 24px;
  }
}


