.place {
  display: grid;
  grid-template-columns: 28.75em minmax(30.25em, auto);
  grid-template-rows: auto 28.75em;
  gap: 3em 2.5em;
  max-width: 61.5em;
}

@media screen and (min-width:1024px) and (max-width:1279px) {
  .place {
    grid-template-columns: 27.5em minmax(28.5em, auto);
    grid-template-rows: auto 27.5em;
    gap: 3em 2em;

  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .place {
    grid-template-columns: 21.25em minmax(22em, auto);
    grid-template-rows: auto minmax(21.25em, auto);
    gap: 3em 1.75em;

  }
}

@media screen and (max-width:767px) {
  .place {
    grid-template-columns: minmax(20em, auto);
    grid-template-rows: auto;
    gap: 2em;
  }
}
