.footer {
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  max-width: 1920px;
  align-items: baseline;
}

@media screen and (min-width: 1920px) {
  .footer {
    padding: 138px 72px 36px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 64px 16px 24px;
  }
}
