.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: .75em;
  line-height: 1;
  /* identical to box height, or 100% */
  letter-spacing: .125em;
  color: #aaa;
  margin-block: 0;
  margin-bottom: .75em;
}
