.header__lang-links {
  margin-block: 0;
  padding-inline-start: 0;
  /*Выравнивание под логотип*/
  transform: translateY(7px);
  list-style-type: none;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__lang-links {
    /*Выравнивание под логотип*/
    transform: translateY(3px);
  }
}